ul p{
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h1 {
    font-weight: 600;
}

img.example {
    width: 450px;
}

img.example-small {
    width: 350px;
}

.main-bit {
    margin-top: 100px;
    margin-bottom: 100px;
}

.main-bit li {
    margin-top: 15px;
}

.main-bit h3 {
    margin-top: 40px;
}